{% extends "layout.jinja2" %}

{% block pagestyles %}
  <style type="text/css">
    #datatable * {
        border: 1px solid black;
        text-align: center;
    }
  </style>
  <link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}

        {% include "modals.jinja2" %}

        <div id="TblCtrl" >
            <select id="tbltoshow" name="tbltoshow">
                <option disabled selected style="display:none;">Select Table</option>
                {% if current_user.is_admin() %}
                    <option value="users">Users</option>
                {% endif %}
                <option value="parts">Parts</option>
                <option value="vendors">Vendors</option>
            </select>
            <p><a href=# id=calculate>Load Data</a></p>
        </div>

        <div style="position:relative;width:100%;margin-bottom:3em;">
            <a class="hidwhennotblandisnottitleorsearch" id="datatableaddthing" href="#additem" rel="modal:open" style="display:none;position:absolute;z-index:1;"><!-- Add Thing --></a>
            <input style="display:none;position:absolute;z-index:1;left:74%;" class="hidwhennotbl" type="text" id="datatablesearch" placeholder=" search"></input>
            <h4 class="hidwhennotbl" id="datatabletitle" style="display:none;text-align:center;position:absolute;width:100%;"></h4>
        </div>
        <table id="datatable" style="width:100%;border: 1px solid black;"></table>

    {% endif %}

    </div>

    <script type="text/javascript">
      $(function() {
        $('a#calculate').bind('click', function() {
          if (!$('select[name="tbltoshow"]').val()) return;
          $.getJSON($SCRIPT_ROOT + '/bg_gettbl', {
            tbltoshow: $('select[name="tbltoshow"]').val()
          }, function(data) {
            $("#datatable tr").remove();
            $("#datatabletitle").text(data.datatabletitle);
            var h;
            var $tr = $("<tr>").addClass("head");
            for (h of data.tblheaders) {
                let $th = $("<th>").css("font-weight","600");
                $tr.append( $th.text(h) );
            }
            $tr.appendTo("#datatable");
            var i;
            for (i of data.tbldata) {
                var $tr = $("<tr>");
                for (h of data.tblheaders) {
                    $tr.append( $("<td>").text( i[h] ) );
                }
                $tr.appendTo("#datatable");
            }
            $(".hidwhennotbl").show();
            if (data.datatabletitle != "Users") {
                $(".hidwhennotblandisnottitleorsearch").show();
                $("#datatableaddthing").attr("href", "#add{}".replace("{}",data.datatabletitle))
                $("#datatableaddthing").text("Add {}".replace("{}", data.datatabletitle.slice(0,-1)));
            }
            $("#datatable").autolink();
          });
          return false;
        });
      });
    </script>

    <script type="text/javascript">
        $("#datatablesearch").on("keyup", function() {
            var value = $(this).val();
            var patt = new RegExp(value, "i");

            $("#datatable tr").each(function(index) {

                if (!($(this).find('td').text().search(patt) >= 0)) {
                    $(this).not('#datatable .head').hide();
                }
                if (($(this).find('td').text().search(patt) >= 0)) {
                    $(this).show();
                }

            });
        })
</script>


<script type="text/javascript">
  $(function() {
        $('a#addvendor').bind('click', function() {
          if (!$('input[name="name"]').val() || !$('input[name="website"]').val()) return;
          $.getJSON($SCRIPT_ROOT + '/bg_add_vendor', {
            name: $('input[name="name"]').val(),
            website: $('input[name="website"]').val()
          }, function(data) {
            if (data.didok) {
                $("#vendormodalalert").html("Vendor added Successfully.");
            }
          });
        });
      });
    </script>

<script type="text/javascript">
  $(function() {
        $('a#addpart').bind('click', function() {
          if (!$('input[name="partnumber"]').val() || !$('input[name="description"]').val() || !$('input[name="unitprice"]').val() || !$('input[name="quantity"]').val() || !$('input[name="category"]').val() || !$('input[name="weblink"]').val() || !$('select[name="vendor"]').val()) return;
          $.getJSON($SCRIPT_ROOT + '/bg_add_part', {
            partnumber: $('input[name="partnumber"]').val(),
            description: $('input[name="description"]').val(),
            unitprice: $('input[name="unitprice"]').val(),
            quantity: $('input[name="quantity"]').val(),
            category: $('input[name="category"]').val(),
            weblink: $('input[name="weblink"]').val(),
            vendor: $('select[name="vendor"]').val()
          }, function(data) {
            if (data.didok) {
                $("#partmodalalert").html("Part added Successfully.");
            }
          });
        });
      });
</script>

    <script type="text/javascript">
        jQuery(function($) {
        var re = /((http|https|ftp):\/\/[a-zа-я0-9\w?=&.\/-;#~%-]+(?![a-zа-я0-9\w\s?&.\/;#~%"=-]*>))/g;
        function makeHTML(textNode) {
            var source = textNode.data;
            return source.replace(re, function() {
                var url = arguments[0];
                var a = $('<p></p>').attr({'onclick' : 'window.open(\'' + url + '\'); return false;','style': 'cursor:pointer;color:#007bff;margin:0;border:none;'}).text(url);
                return url.match(/^https?:\/\/$/) ? url : $('<div></div>').append(a).html();
            });
        };
        function eachText(node, callback) {
            $.each(node.childNodes, function() {
                if (this.nodeType != 8 && this.nodeName != 'A') {
                    this.nodeType != 1 ? callback(this) : eachText(this, callback);
                }
            });
        };
        $.fn.autolink = function() {
            return this.each(function() {
                var queue = [];
                eachText(this, function(e) {
                    var html = makeHTML(e);
                    if (html != e.data) {
                        queue.push([e, makeHTML(e)]);
                    }
                });
                $.each(queue, function(i, x) {
                    $(x[0]).replaceWith(x[1]);
                });
            });
        };
    });
</script>


{% endblock %}

