{% extends "layout.jinja2" %}

{% block content %}
  <div class="formwrapper">
    <form method="POST">

      <div class="logo">
        <img width=64 height=64 src="{{ url_for('static', filename='img/sbhs3gearlogo.png') }}">
      </div>

      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
      {% endfor %}

      <h1>Log In</h1>

      <fieldset class="email">
         {{ form.email.label }}
         {{ form.email(placeholder='youremail@example.com') }}
         {% if form.email.errors %}
           <ul class="errors">
             {% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}
           </ul>
         {% endif %}
      </fieldset>

      <fieldset class="password">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <div class="submitbutton">
        <input id="submit" type="submit" value="Submit">
      </div>

      <div class="loginsignup">
        <span>Don't have an account? <a href="{{ url_for('auth_bp.signup') }}">Sign up.</a></span>
        </div>
        
    </form>
  </div>
{% endblock %}
