<div id="addParts" class="modal">
    <div class="formwrapper">
        <label for="partnumber">PartNumber:</label><input type="text" id="partnumber" name="partnumber"><br>
        <label for="description">Description:</label><input type="text" id="description" name="description"><br>
        <label for="unitprice">UnitPrice:</label><input type="number" min="0" id="unitprice" name="unitprice"><br>
        <label for="quantity">Quantity:</label><input type="number" min="0" id="quantity" name="quantity"><br>
        <label for="category">Category:</label><input type="text" id="category" name="category"><br>
        <label for="weblink">Weblink:</label><input type="url" id="weblink" name="weblink"><br>
        <label for="vendor">Vendor:</label><select id="vendor" name="vendor">
        {% for vendor in Vendors %}
            <option value="{{ vendor.name }}" >{{ vendor.name }}</option>
        {% endfor %}
        </select><br>
        <a href=# id=addpart>Add Part</a>
    </div>
    <p id="vendormodalalert" style="color:green;"></p>
    <a href="#" rel="modal:close">Close</a>
</div>

<div id="addVendors" class="modal">
    <div class="formwrapper">
        <label for="name">Name:</label><input type="text" id="name" name="name"><br>
        <label for="website">Website:</label><input type="url" id="website" name="website"><br>
        <a href=# id="addvendor">Add Vendor</a>
    </div>
    <p id="vendormodalalert" style="color:green;"></p>
    <a href="#" rel="modal:close">Close</a>
</div>

